h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', Helvetica, sans-serif;
}

p {
  font-family: sans-serif;
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-green {
  color: rgb(28, 150, 76);
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.hero h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 40px !important;
}

.bg-num4 {
  background-color: rgb(43, 43, 43);
  padding-top: 40px;
  padding-bottom: 40px;
}

.bg-num2 {
  background-color: rgb(238, 245, 241);
  padding: 20px 0;
}

.bg-num3 {
  background-color: rgb(235, 245, 239);
  padding: 20px 0;
}

.bg-num0 {
  padding: 20px 0;
}

.bg-num1 {
  padding: 20px 0;
  border-width: 3px 0;
  border-style: solid;
  border-color: rgba(0,0,0,0.7);
}

.hiw {
  padding: 0 10px;
  text-align: center;
}

#header a {
  color: rgb(28, 150, 76);
}

.trust {
  padding-top: 80px;
}

.trust img{
  display: block;
  margin: auto;
  max-height: 100px;
}

.dropmenu ul li a {
  padding: 2px 10px 2px 10px;
}

.dropmenu ul li a.active {
  color: rgb(28, 150, 76) !important;
}

.dropmenu ul li a:hover {
  color: darkgreen !important;
}

a:hover {
  color: darkgreen; 
}

a {
  color: rgb(28, 150, 76);
}

.mobile-menu .button_container span {
background: rgb(28, 150, 76);
}

.btn.btn-lg {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.btn {
  border: 0.05rem solid rgb(28, 150, 76);
  color: rgb(28, 150, 76);
}