{% macro nav_loop(page) %}
{% for p in page.children.visible %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    {% if p.children.visible.count > 0 %}
        <li>
            <a href="{{ p.url }}" class="{{ active_page }}">
                {{ p.menu }}
            </a>
            <ul>
                {{ _self.nav_loop(p) }}
            </ul>
        </li>
    {% else %}
        <li>
            <a href="{{ p.url }}" class="{{ active_page }}">
                {{ p.menu }}
            </a>
        </li>
    {% endif %}
{% endfor %}
{% endmacro %}

<ul>
<li><a href="tel:17803946187"><span class="fa fa-phone"></span>1-780-394-6187</a></li>
<li><a href="mailto:info@permitexperts.ca"><span class="fa fa-envelope"></span>info@permitexperts.ca</a></li>
</ul>
<ul {{ tree ? 'class="tree"' : '' }}>
{{ _self.nav_loop(pages) }}
</ul>

