{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section class="section {{ page.header.class}}" id="{{ page.header.id}}">
  <section class="container {{ grid_size }}">
    {{content}}
  </section>
</section>
